<.header>
  Event <%= @event.id %>
  <:subtitle>This is a event record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/events/#{@event}/edit"}>
      <.button>Edit event</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @event.title %></:item>
  <:item title="Due"><%= @event.due %></:item>
</.list>

<.back navigate={~p"/events"}>Back to events</.back>
